language: python
python:
  - "3.4"
notifications:
  email:
    on_success: never # default: change
    on_failure: always # default: always

before_install:
  - mv secrets_redacted.yaml secrets.yaml
  - git clone https://github.com/lazcad/homeassistant.git
install:
  - pip3 install homeassistant
  - cp -r homeassistant/components/* /home/travis/virtualenv/python3.4.2/lib/python3.4/site-packages/homeassistant/components/
script:
  - hass -c . --script check_config