###################
#    INCLUDES     #
###################
alert: !include_dir_named config/alerts
automation: !include_dir_merge_list config/automation
binary_sensor: !include config/devices/binary_sensor.yaml
camera: !include config/devices/camera.yaml
device_tracker: !include config/devices/device_tracker.yaml
frontend: !include config/frontend/frontend.yaml
group: !include_dir_named config/groups
homeassistant: !include config/core/homeassistant.yaml
http: !include config/core/http.yaml
influxdb: !include config/core/influxdb.yaml
input_boolean: !include_dir_named config/inputs/input_boolean
input_select: !include_dir_named config/inputs/input_select
input_text: !include_dir_named config/inputs/input_text
intent_script: !include_dir_named config/voice/intent_scripts
light: !include config/devices/light.yaml
logger: !include config/core/logger.yaml
media_player: !include_dir_merge_list config/devices/media_players
mqtt: !include config/core/mqtt.yaml
notify: !include_dir_merge_list config/notify
panel_custom: !include_dir_merge_list config/panel_custom
proximity: !include_dir_named config/proximity
recorder: !include config/core/recorder.yaml
scene: !include_dir_merge_list config/scenes
script: !include_dir_named config/scripts
sensor: !include_dir_merge_list config/devices/sensors
shell_command: !include config/shell_command.yaml
switch: !include_dir_merge_list config/devices/switches
telegram_bot: !include config/telegram_bot.yaml
weblink: !include config/weblink.yaml
xiaomi: !include config/devices/xiaomi.yaml
zone: !include_dir_merge_list config/zones

#################
#    ENABLES    #
#################
apiai:
logbook:
python_script:
sun:
tts:
  - platform: google
