sequence:
  - service: scene.turn_on
    data:
      entity_id: scene.living_room_dim
  - service: shell_command.turn_av_on
  - delay:
      seconds: 1
  - service: shell_command.set_volume
    data:
      volume: 15
  - service: media_player.play_media
    data:
      entity_id: media_player.kodi_on_firetv
      media_content_id: smb://NSA325-V2/media/music/Playlists/janis_favs.m3u
      media_content_type: file
