- platform: command_line
  switches:
    flexget:
      command_on: 'sudo /etc/init.d/flexget start'
      command_off: 'sudo /etc/init.d/flexget stop'
      command_state: 'ps aux | grep -q "[f]lexget"'
    janis_pc_wol:
      command_on: 'wakeonlan 40:8D:5C:F8:3F:A6'
      command_off: 'wakeonlan A6:3F:F8:5C:8D:40'
      command_state: 'ping -c1 192.168.137.48 | grep " 0% packet loss"'
    mosquitto:
      command_on: '/usr/sbin/mosquitto -c /etc/mosquitto/mosquitto.conf'
      command_off: 'pkill -f "[m]osquitto"'
      command_state: 'ps aux | grep -q "[m]osquitto"'
    influxdb:
      command_on: 'sudo /etc/init.d/influx start'
      command_off: 'sudo /etc/init.d/influx stop'
      command_state: 'ps aux | grep -q "/usr/bin/influxd -config /etc/influxdb/influxdb.conf$"'
    emby:
      command_on: 'sudo /etc/init.d/emby-server start'
      command_off: 'sudo pkill -u emby'
      command_state: '/etc/init.d/emby-server status | grep -q "[a]ctive (running)"'
    transmission_service:
      command_on: 'sudo /etc/init.d/transmission-daemon start'
      command_off: 'sudo /etc/init.d/transmission-daemon stop'
      command_state: 'ps aux | grep -q "[t]ransmission"'
    grafana:
      command_on: 'sudo /etc/init.d/grafana-server start'
      command_off: 'sudo /etc/init.d/grafana-server stop'
      command_state: 'sudo /etc/init.d/grafana-server status | grep -q "[a]ctive (running)"'
    mysql:
      command_on: 'sudo /etc/init.d/mysql start'
      command_off: 'sudo /etc/init.d/mysql stop'
      command_state: 'sudo /etc/init.d/mysql status| grep -q "[a]ctive (running)"'
    ombi:
      command_on: 'sudo /etc/init.d/ombi start'
      command_off: 'sudo /etc/init.d/ombi stop'
      command_state: 'cat /opt/ombi/ombi.pid && ps aux | grep "\s$(cat /opt/ombi/ombi.pid)\s" | grep -v -q grep'
    asf:
      command_on: 'sudo su -c /opt/asf/start.sh janis'
      command_off: 'sudo su -c /opt/asf/stop.sh janis'
      command_state: 'cat /opt/asf/asf.pid && ps aux | grep "\s$(cat /opt/asf/asf.pid)\s" | grep -v -q grep'
    telegram_bot:
      command_on: 'sudo su -c /opt/scripts/telegram_bot.sh janis'
      command_off: 'sudo kill -9 $(cat /opt/scripts/telegram_bot.pid) && rm -f  /opt/scripts/telegram_bot.pid'
      command_state: 'cat /opt/scripts/telegram_bot.pid && ps aux | grep "\s$(cat /opt/scripts/telegram_bot.pid)\s" | grep -v -q grep'
    find:
      command_on: 'sudo su -c /opt/find/start.sh janis'
      command_off: 'sudo kill $(cat /opt/find/find.pid) && rm -f  /opt/find/find.pid'
      command_state: 'cat /opt/find/find.pid && ps aux | grep "\s$(cat /opt/find/find.pid)\s" | grep -v -q grep'
    sonarr:
      command_on: 'sudo /etc/init.d/nzbdrone start'
      command_off: 'sudo /etc/init.d/nzbdrone stop'
      command_state: 'ps aux | grep "NzbDrone.exe" | grep -v -q grep'
    radarr:
      command_on: 'sudo /etc/init.d/radarr start'
      command_off: 'sudo /etc/init.d/radarr stop'
      command_state: 'cat /opt/radarr/radarr.pid && ps aux | grep "\s$(cat /opt/radarr/radarr.pid)\s" | grep -v -q grep'
    jackett:
      command_on: 'sudo /etc/init.d/jackett start'
      command_off: 'sudo /etc/init.d/jackett stop'
      command_state: 'cat /opt/jackett/jackett.pid && ps aux | grep "\s$(cat /opt/jackett/jackett.pid)\s" | grep -v -q grep'