- platform: template
  sensors:
    motion_living_room_battery:
      value_template: "{{ states.binary_sensor.motion_sensor_158d00010f8100.attributes.battery_level | int < 5 }}"

    button_living_room_battery:
      value_template: "{{ states.binary_sensor.switch_158d00011033aa.attributes.battery_level | int < 5 }}"

    button_kitchen_battery:
      value_template: "{{ states.binary_sensor.switch_158d00013f9ad7.attributes.battery_level | int < 5 }}"

    balcony_door_battery:
      value_template: "{{ states.binary_sensor.door_window_sensor_158d000154b7c0.attributes.battery_level | int < 5 }}"

    entrance_door_battery:
      value_template: "{{ states.binary_sensor.door_window_sensor_158d00011c8066.attributes.battery_level | int < 5 }}"

    living_room_temperature_battery:
      value_template: "{{ states.sensor.temperature_158d0001a35e24.attributes.battery_level | int < 5 }}"

    bedroom_temperature_battery:
      value_template: "{{ states.sensor.temperature_158d0001a4a582.attributes.battery_level | int < 5 }}"