# Turn on and play/pause music if kitchen butten is pressed
- alias: xiaomi_kit_click
  trigger:
    platform: event
    event_type: click
    event_data:
      entity_id: binary_sensor.switch_158d00013f9ad7
      click_type: single
  action:
    - service_template: >
        {% if states.media_player.kitchen.state != 'off' %}
          media_player.turn_on
        {% elif states.media_player.kitchen.state != 'playing' and states.media_player.kitchen.state != 'off' %}
          media_player.media_play
        {% else %}
          media_player.media_pause
        {% endif %}
      data:
        entity_id: media_player.kitchen

# Play next track if music is playing else give status report
- alias: xiaomi_kit_double_click
  trigger:
    platform: event
    event_type: click
    event_data:
      entity_id: binary_sensor.switch_158d00013f9ad7
      click_type: double
  action:
    - service_template: >
        {% if states.media_player.kitchen.state == 'playing' %}
          media_player.media_next_track
        {% else %}
          tts.gogle_say
        {% endif %}
      data_template:
        entity_id: media_player.kitchen
        message: !include ../../templates/statusreport.yaml

# TBD
- alias: xiaomi_kit_hold
  trigger:
    platform: event
    event_type: click
    event_data:
      entity_id: binary_sensor.switch_158d00013f9ad7
      click_type: hold
  action:
    - service: scene.turn_on
      data:
        entity_id: scene.livingroom_normal