sequence:
  - service: notify.janis_handy_telegram
    data_template:
      title: >
        {% if Metadata.type == 'tvshows' %}
          ***Episode Available***
        {% else %}
          ***Movie Available***
        {% endif %}

      message: "{{ Metadata.title }} is now ready to be watched on Emby"
  - service: shell_command.add_new_episode
    data_template:
      episode: "{{ Metadata.title }}"