intents:
    WhereAreWe:
      speech: >
        {%- if is_state('device_tracker.janis_handy', 'home') and
               is_state('device_tracker.lena_handy', 'home') -%}
          You are both home, you silly
        {%- else -%}
          Janis is at {{ states("device_tracker.janis_handy") }} and
          Lena is at {{ states("device_tracker.lena_handy") }}
        {% endif %}
      async_action: False

    Locate:
      speech: >
        {%- if User.lower() == "janis" -%}
          Janis is at {{ states("device_tracker.janis_handy") }}. https://maps.googleapis.com/maps/api/staticmap?center={{ states.device_tracker.janis_handy.attributes.latitude }},{{ states.device_tracker.janis_handy.attributes.longitude }}&zoom=13&size=600x600&maptype=roadmap&markers=color:blue%7Clabel:J%7C{{ states.device_tracker.janis_handy.attributes.latitude }},{{ states.device_tracker.janis_handy.attributes.longitude }}
        {%- elif User.lower() == "lena" -%}
          Lena is at {{ states("device_tracker.lena_handy") }}. https://maps.googleapis.com/maps/api/staticmap?center={{ states.device_tracker.lena_handy.attributes.latitude }},{{ states.device_tracker.lena_handy.attributes.longitude }}&zoom=13&size=600x600&maptype=roadmap&markers=color:blue%7Clabel:L%7C{{ states.device_tracker.lena_handy.attributes.latitude }},{{ states.device_tracker.lena_handy.attributes.longitude }}
        {%- else -%}
          Sorry I do not know anybody with the name {{ User }}
        {%- endif -%}

    TurnLightOnOff:
      speech: !include ../templates/alexa_confirm.yaml

      action:
        - service_template: >
            {%- if OnOff == "on" -%}
              scene.turn_on
            {%- else -%}
              light.turn_off
            {%- endif -%}
          data_template:
            entity_id: >
              {%- if OnOff == "on" -%}
                scene.livingroom_normal
              {%- else -%}
                group.light_livingroom
              {%- endif -%}

    TurnMediaDevicesOnOff:
      speech: !include ../templates/alexa_confirm.yaml
      action:
        - service_template: >
            {%- if OnOff == "on" -%}
              input_boolean.turn_on
            {%- else -%}
              input_boolean.turn_off
            {%- endif -%}
          data:
            entity_id: 

    StatusReport:
      speech: !include ../templates/statusreport.yaml

    DisableAlert:
      speech: !include ../templates/alexa_confirm.yaml
      action:
        - service_template: >
            {%- if AlertTarget == "all" -%}
              script.turn_on
            {%- else -%}
              alert.turn_off
            {%- endif -%}
          data_template:
            entity_id: >
              {%- if AlertTarget == "all" -%}
                script.disable_all_alerts
              {%- else -%}
                alert.{{ AlertTarget }}
              {%- endif -%}

    Bedtime:
      speech: !include ../templates/speech_bedtime.yaml
      action:
        - service: scene.turn_on
          data:
            entity_id: scene.bedtime

    GameServerAction:
      speech: >
        {%- if GameServerAction == "start" and states.switch.sdtd.state == "on" -%}
          It's already running.
        {%- elif GameServerAction == "stop" and states.switch.sdtd.state == "off" -%}
           It's not even running.
        {%- elif GameServerAction == "update" -%}
           Stopping server updating and then starting it up again.
        {%- else -%}
          NOPE! This should not happen!
        {%- endif -%}
      action:
        - service_template: >
            {%- if GameServerAction == "start" -%}
              switch.turn_on
            {%- elif GameServerAction == "stop" -%}
              switch.turn_off
            {%- else -%}
              shell_command.update_sdtd
            {%- endif -%}
          data_template:
            entity_id: >
              {%- if GameServerAction == "start" or GameServerAction == "stop" -%}
                switch.sdtd
              {%- else -%}
                shell_command.update_sdtd
              {%- endif -%}

    Buffer:
      speech: >
        {%- if Tracker == "ggn" and OnOff == states.input_boolean.ggnbuffer.state -%}
          It already is {{ OnOff }}
        {%- elif Tracker == "ahd" and OnOff == states.input_boolean.ahdbuffer.state -%}
           It already is {{ OnOff }}
        {%- elif Tracker == "animebytes" and OnOff == states.input_boolean.anibybuffer.state -%}
           It already is {{ OnOff }}
        {%- else -%}
          It is done!
        {%- endif -%}
      action:
        - service_template: >
            {%- if OnOff == "on" -%}
              input_boolean.turn_on
            {%- else -%}
              input_boolean.turn_off
            {%- endif -%}
          data_template:
            entity_id: >
              {%- if Tracker == "ggn" -%}
                input_boolean.ggnbuffer
              {%- elif Tracker == "ahd" -%}
                input_boolean.ahdbuffer
              {%- elif Tracker == "animebytes" -%}
                input_boolean.anibybuffer
              {%- endif -%}