      name: Services
      image: /local/custom_ui/floorplan/services.svg
      stylesheet: /local/custom_ui/floorplan/services.css
      warnings:
      groups:
        - name: Services
          entities:
            - switch.discordbot
            - switch.telegram_bot
            - switch.asf
          states:
            - state: 'on'
              class: 'service-on'
            - state: 'off'
              class: 'service-off'
          action:
            service: toggle