db_url: !secret mysql_db_url
purge_interval: 5
include:
  domains:
    - binary_sensor
    - sensor
    - switch
    - media_player
    - sun
    - alarm_control_panel
exclude:
  entities:
    - sensor.since_last_boot
    - sensor.date__time
    - sensor.uptime
    - sensor.cpu_speed
    - sensor.emby_player_uuid
    - sensor.floorplan_date
    - sensor.floorplan_time
    - sensor.news
    - sensor.news1
    - sensor.news2
    - sensor.news3
    - sensor.news4
    - sensor.news5
