db_url: !secret mysql_db_url
purge_days: 5
include:
  domains:
    - sensor
    - switch
    - media_player
    - sun
    - alarm_control_panel
exclude:
  entities:
    - sensor.since_last_boot
    - sensor.date__time
    - sensor.uptime
    - sensor.cpu_speed
    - sensor.emby_player_uuid
    - sensor.alexa_response