/* Animation */
@keyframes rotate90 {
	100% {
		transform: rotate(90deg);
	}
}

@keyframes rotateReset90 {
	0% {
		transform: rotate(90deg);
	}
	100% {
		transform: none;
	}
}

@keyframes fadeIn {
	0% {
		transform: rotateX(90deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}

@keyframes fadeOut {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(90deg);
	}
}

/* SVG shapes */

svg, svg * {
/*  vector-effect: non-scaling-stroke !important; */
  pointer-events: all !important;
  background-color: #231f26;
}

/**************/
/* Groundplan */
/**************/

/* Light */

.light-off {
  fill: #C3B7F4 !important;
}

.light-on {
  fill: #F8D2B9 !important;
}

/* Temperature sensor */

.temp-very-low-background {
  fill: #d9edf7 !important;
  fill-opacity: 1 !important;
}

.temp-below-average-background {
  fill: #dcefe8 !important;
  fill-opacity: 1 !important;
}

.temp-average-background {
  fill: #dff0d8 !important;
  fill-opacity: 1 !important;
}

.temp-very-high-background {
  fill: #f2dede !important;
  fill-opacity: 1 !important;
}

/* Media player */

.squeezebox-off {
  fill: #8AA8A7 !important;
}

.squeezebox-on {
  fill: #2baaa6 !important;
}

/* Doors */

/* Doors that open to the top left */
#binary_sensor\.door_window_sensor_158d00011c8066 {
  transform-origin: top left;
}

/* Doors that open to the bottom right */
#binary_sensor\.door_window_sensor_158d000154b7c0 {
  transform-origin: bottom right;
}

.door_closed {
  fill: #008000 !important;
  animation-duration: 4s;
  animation-name: rotateReset90;
}

.door_open {
  fill: #ff0000 !important;
  animation-duration: 4s;
  animation-name: rotate90;
  animation-fill-mode: forwards;
}

/* Rooms */
.room-no-motion {
  fill-opacity: 0 !important;
}

.room-motion {
  fill-opacity: 1 !important;
}

/**************/
/* Info Panel */
/**************/

/* Date & Time */

.static-text
{
  font-family : Helvetica;
  font-weight : bold;
  fill : #FFFFA6;
}

/* Alarm Panel */

.alarm-disarmed {
  fill: #3c763d !important;
}

.alarm-armed {
  fill: #8a6d3b !important;
}

.alarm-triggered {
  fill: #ff0000 !important;
}

.alarm-pending {
  fill: #00cc99 !important;
}

.layer-visible {
  animation-duration: 0.5s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  transform-origin: left
}

.layer-hidden {
  animation-duration: 0.5s;
  animation-name: fadeOut;
  animation-fill-mode: forwards;
  transform-origin: left
}

.hidden_boolean_on {
  fill: #69946f !important;
}

.hidden_boolean_off {
  fill: #d5643f !important;
}