/* Animation */
@keyframes flash {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

/* SVG shapes */

svg, svg * {
  vector-effect: non-scaling-stroke !important;
  pointer-events: all !important;
}

/* Services */

.service-off {
  fill: red !important;
  animation-duration: 8s;
  animation-name: flash;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: forward;
}

.service-on {
  fill: green !important;
}