speech:
  text: >
    {%- if GameServerAction == "startup" and states.switch.project_zomboid.state == "on" -%}
      It's already running.
    {%- elif GameServerAction == "shutdown" and states.switch.project_zomboid.state == "off" -%}
       It's not even running.
    {%- elif GameServerAction == "update" -%}
       Stopping server updating and then starting it up again.
    {%- else -%}
      {{GameServerAction}} Done!
    {%- endif -%}
action:
  - service_template: >
      {%- if GameServerAction == "startup" -%}
        switch.turn_on
      {%- elif GameServerAction == "shutdown" -%}
        switch.turn_off
      {%- else -%}
        shell_command.update_pz
      {%- endif -%}
    data_template:
      entity_id: >
        {%- if GameServerAction == "startup" or GameServerAction == "shutdown" -%}
          switch.project_zomboid
        {%- else -%}
          shell_command.update_pz
        {%- endif -%}