speech: >
  {%- if GameServerAction == "startup" and states.switch.sdtd.state == "on" -%}
    It's already running.
  {%- elif GameServerAction == "shutdown" and states.switch.sdtd.state == "off" -%}
     It's not even running.
  {%- elif GameServerAction == "update" -%}
     Stopping server updating and then starting it up again.
  {%- else -%}
    {{GameServerAction}} Done!
  {%- endif -%}
action:
  - service_template: >
      {%- if GameServerAction == "startup" -%}
        switch.turn_on
      {%- elif GameServerAction == "shutdown" -%}
        switch.turn_off
      {%- else -%}
        shell_command.update_sdtd
      {%- endif -%}
    data_template:
      entity_id: >
        {%- if GameServerAction == "startup" or GameServerAction == "shutdown" -%}
          switch.sdtd
        {%- else -%}
          shell_command.update_sdtd
        {%- endif -%}